<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="container_signup">
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag "slide_signup.png",class: "phone" %>
      </div>
      <div class="col-sm-6">
        <div class="right-column text-center">
          <%= image_tag "instagram_text.png",class: "inst_icon" %>
          <form>
            <div class="form-group">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.password_field :password, autocomplete: "current-password", placeholder:"password", class: "form-control" %>
            </div>
            <%= f.submit "Log in", class:"btn btn-primary btn-block" %>
            <p class="or">OR</p>
            <button type="button" type="submit" class="btn btn-block">
              <%= image_tag "facebook.png" %> <span style="color: #385185; font-size: 14px;">Log in with Facebook</span></button>

            <%= link_to 'Forgot password?', new_user_password_path, class:"forgot_pas" %>
<% end %>
</form>
</div>
<div class="right-column-login text-center">
  <p class="donthave">Don't have an account? <%= link_to 'Sign up', new_user_registration_path %></p>
</div>
</div>
</div>
</div>