<span><%= link_to 'Edit', edit_post_path(@post) %></span>
<span style="padding-left: 60px;">
  <%= link_to 'Delete Post', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
</span>
<br>
<%= image_tag @post.image, style: "width: 400px; height: 400px;" %>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>
<br>

<span><%= @post.comments.count %> Comments</span>
<br><br>
<%= render @post.comments %>
<h3>Add a Comments</h3>
<%= render 'comments/form' %>
<br>
